<div class="report-container">
  <div class="meta-container">
       <div class="patient-info">
        <h4>Patient Name:Rubayat</h4>
        <h4>Patient ID:12343</h4>
        <h4>Age:12 yrs</h4>
        <h4>Gender:Male</h4>
       </div>
       <div class="test-info">
        <h4>Test Name:CBC</h4>
        <h4>Sample Date:12/03/2025</h4>
        <h4>Result Date:15/03/2028</h4>
        <h4>Refered By:Dr. Samin Yasar</h4>
       </div>
  </div>
  <hr>
  <ul>
    {{#each users}}
    <li>{{name}}: {{score}}</li>
    {{/each}}
  </ul>
</div>