<div class="report-container">
  <div class="meta-container">
       <div class="patient-info">
        <h4>Patient Name:Rubayat</h4>
        
       </div>
       <div class="test-info">
        <h4>Test Name:CBC</h4>
        <h4>Sample Date:12/03/2025</h4>
        <h4>Result Date:15/03/2028</h4>
        <h4>Refered By:Dr. Samin Yasar</h4>
       </div>
  </div>
  <hr>
  <ul>
    
  </ul>
</div>